.App {
  text-align: center;
}


.repo-container {
  margin: 40px;
  border: 2px solid black;
  padding: 20px;
  min-width: 300px;
  max-width: 300px;
  border-radius: 5px;
  text-align: center;
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.repo-container:hover {
  box-shadow: 3px 3px rgb(179, 177, 177);

}

.userImg {
  border-radius: 25%;
  width: 300px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

.search{
  border: 3px black;
}
.searchBar {
  height: 30px;
  border-radius: 20px;
  text-align: center;
  border:none;
}